<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot-about</title>
    <!-- <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css"> -->

</head>
<header id="header-id">
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>About page</p>
</header>
<body>
    <p>О проект LifeSpot.</p>
    <p>Тестовое задание для ознакомления с HTML, CSS...</p>
    <p>HTML: Юнит 26</p>
    <p>CSS:  Юнит 27</p>
    <p>И ничего более ...</p>
</body>
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/about"><p>О проекте</p></a>
        <a href="/test"><p>Тест</p></a>
    </div>
</aside>
</html>