<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">

</head>
<header id="header-id">
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>Покажем, что происходит прямо сейчас</p>
</header>
<body>
    <p>Приветствуем на LifeSpot!</p>
    <p>Приветствуем на LifeSpot-V0.1!</p>
</body>
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/about"><p>О проекте</p></a>
        <a href="/test"><p>Тест</p></a>
    </div>
</aside>
<iframe width="400"  height="250" src="https://www.youtube.com/embed/41_N0dmjQyA"
        title="LIVE St. Petersburg Hotel Indigo Смотровая площадка отеля Индиго Санкт-Петербург онлайн"
        frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
</iframe>
<footer id="footer-id">
    <p>Что ваше - то ваше, что наше то - наше. Пишите LifeSpot@LifeSpot.ru </p>
    
</html>