<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot-Test</title>
    <!-- <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css"> -->

</head>
<header id="header-id">
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>test page</p>
</header>
<body>
    <p>Приветствуем на LifeSpot-Test!</p>
    <p>test page</p>
</body>
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/about"><p>О проекте</p></a>
        <a href="/test"><p>Тест</p></a>
    </div>
</aside>
</html>